<div class="container">
<div class="error" *ngIf="error | async">{{ error | async }}</div>
  <mat-progress-bar mode="indeterminate" *ngIf="loading | async else musicArea"></mat-progress-bar>
  <ng-template #musicArea>
    <div *ngFor="let mus of music | async"
      class="card"
      [routerLink]="[mus._id]"
    >
      <mat-card>
        <mat-card-title>
          <h2>{{ mus.title }}</h2>
        </mat-card-title>
        <div *ngIf="mus.image">
          <img
            [src]="'http://localhost:8000/uploads/' + mus.image"
            [alt]="'Photo of' + mus.title"
            mat-card-image
          />
        </div>

      </mat-card>
    </div>

  </ng-template>
</div>

