
.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.container{
  width: 100%;
  margin: 0 auto;
}

.bar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
