<div class="form-container">
  <div class="error" *ngIf="error | async">{{ error | async }}</div>
  <form (ngSubmit)="onSubRegister()" #f="ngForm">

    <mat-form-field appearance="outline">
      <mat-label>email</mat-label>
      <input type="email" name="email" matInput required ngModel #email="ngModel">
      <mat-error *ngIf="email.touched && email.hasError('required')"
      >email is required!
      </mat-error>
      <mat-error *ngIf="email.touched && email.hasError('email')"
      >Enter email is correct!
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>name</mat-label>
      <input type="text" name="name" required matInput ngModel #username="ngModel">
      <mat-error *ngIf="username.touched && username.hasError('required')"
      >name is required!
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>password</mat-label>
      <input type="password" name="password" required matInput ngModel #pass="ngModel" (change)="passw">
      <mat-error *ngIf="pass.touched && pass.hasError('required')"
      >password is required!
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>password repeat</mat-label>
      <input type="password" name="repeat" required matInput ngModel autocomplete="new-password"  #rep="ngModel"
             (change)="repe">>
      <mat-error *ngIf="rep.touched && rep.hasError('required')"
      >repeat password is required!
      </mat-error>
      <mat-error
      >not suitable!
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>image</mat-label>
      <app-file-input name="image" ngModel></app-file-input>
    </mat-form-field>




    <button
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="f.invalid"
    >
      registration
    </button>
  </form>
</div>
