<div class="container" *ngIf="music">
  <mat-card>
    <h1>{{ music.title }}</h1>
    <img
      [src]="'http://localhost:8000/uploads/' + music.image"
      [alt]="'Photo of' + music.title"
      mat-card-image
    />
    <img
      [src]="'http://localhost:8000/uploads/' + music"
      [alt]="'Photo of' + music.title"
      mat-card-image
    />


    <p class="desc">{{ music.description }}</p>
  </mat-card>
</div>
